svg {
  /* position: absolute; */
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
svg text::selection {
  background: none;
}

.tileRects rect {
  stroke: #eeeeee;
}

.activeKeyPad {
  cursor: 'pointer';
}